PORT=3000
NODE_ENV=development

MONGODB_URI=
MONGODB_DB_NAME=kid_draughts
PUZZLE_BOOK_NAME=Puzzels

API_KEY=
INTERNAL_API_BASE_URL=
PLAYBACK_OWNER_TYPE=user
PLAYBACK_OWNER_ID=dev-user-1

CORS_ORIGIN=*
